@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Gloock&family=Orbit&display=swap');
.orbit-regular {
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.diphylleia-regular {
    font-family: "Diphylleia", serif;
    font-weight: 400;
    font-style: normal;
}

.gloock-regular {
    font-family: "Gloock", serif;
    font-weight: 400;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 90%;
}


/* Rive 캔버스를 전체 화면으로 설정 */

canvas {
    display: block;
    width: 90vw;
    height: 100vh;
}