html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;

  }
  body {
    background-image: url('img/face.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  /* Rive 캔버스를 전체 화면으로 설정 */
  canvas {
    display: block;
    width: 50vw;
    height: 50vh;
  }